{block content}
	<link rel="stylesheet" href="{$basePath}/css/sign-in.css">
	
	<div class="form-signin">
		<h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
		{control signInForm}
	</div>
{/block}